<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.score.dao.ScoreboardDao">

  <select id="getSchoolScore" parameterType="java.lang.Long" resultType="com.learning.cloud.score.entity.SchoolScoreboard">
    select * from school_scoreboard
    where school_id = #{schoolId}
  </select>

  <insert id="addSchoolScoreboard" parameterType="com.learning.cloud.score.entity.SchoolScoreboard">
    insert into school_scoreboard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="bureauId != null">
        bureau_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bureauId != null">
        #{bureauId,jdbcType=BIGINT},
      </if>
    </trim>
    on DUPLICATE KEY UPDATE score = #{score,jdbcType=INTEGER}
  </insert>

  <select id="getClassScore" parameterType="java.lang.Long" resultType="com.learning.cloud.score.entity.ClassScoreboard">
    select * from class_scoreboard
    where class_id = #{classId}
  </select>

  <insert id="addClassScoreboard" parameterType="com.learning.cloud.score.entity.ClassScoreboard">
    insert into class_scoreboard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="bureauId != null">
        bureau_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bureauId != null">
        #{bureauId,jdbcType=BIGINT},
      </if>
    </trim>
    on DUPLICATE KEY UPDATE score = #{score,jdbcType=INTEGER}
  </insert>

  <select id="getTeacherRank" parameterType="java.lang.Long" resultType="com.learning.cloud.score.entity.ScoreRecord">
    select sr.* ,ut.teacher_name from user_teacher ut
    LEFT JOIN (
      SELECT sr1.* FROM score_record sr1 LEFT JOIN
      score_record sr2 on (sr1.user_id = sr2.user_id and sr1.id &lt; sr2.id)
      WHERE sr2.id is null) sr
    ON ut.user_id = sr.user_id
    where ut.bureau_id =#{bureauId}
    <if test="schoolId != null">
      and ut.school_id = #{schoolId}
    </if>
    ORDER BY sr.score desc
  </select>

  <select id="getClassRank" parameterType="java.lang.Long" resultType="com.learning.cloud.score.entity.ClassScoreboard">
    select cs.*,ec.class_name from class_scoreboard cs
		LEFT JOIN edu_grade_class ec
		on cs.class_id = ec.id
    where cs.school_id = #{schoolId}
    order by score
  </select>

  <select id="getBureauPersonnelRank" parameterType="com.learning.cloud.score.entity.ScoreRank" resultType="com.learning.cloud.score.entity.ScoreRank">
    SELECT f.user_name name, f.avatar, p.score
    FROM(
    SELECT u.user_id, u.user_name ,u.avatar FROM user u left join bureau b on u.corp_id = b.corp_id where b.id = #{bureauId}
    ) f
    LEFT JOIN
    (
    select sc.user_id,sc.score from score_record as sc where not exists(select 1 from score_record where user_id = sc.user_id and sc.id &lt; id )
    ) p
    on f.user_id = p.user_id
    ORDER BY p.score
  </select>

  <select id="getSchoolRank" parameterType="com.learning.cloud.score.entity.ScoreRank" resultType="com.learning.cloud.score.entity.ScoreRank">
    SELECT es.school_name name,p.score from edu_school es
    LEFT JOIN (
    select sc.school_id,sc.score from score_record_school as sc where not exists(
      select 1 from score_record_school where school_id = sc.school_id and sc.id &lt; id
      and sc.bureau_id = #{bureauId} )
    ) p on es.id = p.school_id
    ORDER BY p.score
  </select>
</mapper>
