<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.user.parent.dao.ParentDao">
  <resultMap id="BaseResultMap" type="com.learning.cloud.user.parent.entity.Parent">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>

  <select id="getByUserId" parameterType="java.lang.String"
          resultType="com.learning.cloud.user.parent.entity.Parent">
    select *
    from user_parent
    where user_id = #{userId}
  </select>

  <select id="getClassParentNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(id)
    from user_parent
    where class_id = #{classId}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.learning.cloud.user.parent.entity.Parent">
    insert into user_parent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentName != null">
        parent_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="campusId != null">
        campus_id,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="bureauId != null">
        bureau_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentName != null">
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="campusId != null">
        #{campusId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="bureauId != null">
        #{bureauId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.learning.cloud.user.parent.entity.Parent">
    update user_parent
    <set>
      <if test="parentName != null">
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_name = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="campusId != null">
        campus_id = #{campusId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="bureauId != null">
        bureau_id = #{bureauId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <select id="getParents" parameterType="java.lang.Long" resultType="com.learning.cloud.user.parent.entity.Parent">
    select up.* from (
    SELECT ec.id from edu_campus ec
    LEFT JOIN edu_school es
    on ec.school_id = es.id where es.id = #{schoolId}
    ) as ca
    LEFT JOIN user_parent up
    on up.campus_id = ca.id
  </select>
</mapper>
