<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.gradeModule.dao.GradeEntryDao">

  <select id="getById" parameterType="java.lang.Long" resultType="com.learning.cloud.gradeModule.entity.GradeEntry">
      select *
      from grade_entry
      where id = #{id}
      limit 1
   </select>

  <select id="getByClassModule" resultType="com.learning.cloud.gradeModule.entity.GradeEntry">
    select *
      from grade_entry
      where module_id = #{moduleId}
      and class_id = #{classId}
  </select>

  <select id="getByStudentModule" parameterType="com.learning.cloud.gradeModule.entity.GradeEntry" resultType="com.learning.cloud.gradeModule.entity.GradeEntry">
    select *
      from grade_entry
      where module_id = #{moduleId}
      and class_id = #{classId}
      and student_id = #{studentId}
      and student_name = #{studentName}
  </select>

  <select id="getAllGradeEntry" parameterType="com.learning.cloud.gradeModule.entity.GradeEntry" resultType="com.learning.cloud.gradeModule.entity.GradeEntry">
    select *
    from grade_entry
    where classId = #{classId}
  </select>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.learning.cloud.gradeModule.entity.GradeEntry">
    insert into grade_entry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="studentName != null">
        student_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="marks != null">
        marks,
      </if>
      <if test="classId != null">
        class_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="studentName != null">
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="marks != null">
        #{marks,jdbcType=LONGVARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>
