<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.duty.dao.DutyRecordMapper">

  <select id="getDutyRecordByClassId" parameterType="com.learning.cloud.duty.entity.DutyRecord" resultType="com.learning.cloud.duty.entity.DutyRecord">
    select * from duty_record
    where class_id = #{classId}
  </select>

  <delete id="deleteDutyRecord" parameterType="java.lang.Long">
    delete from duty_record
    where id = #{id}
  </delete>

  <insert id="addDutyRecord" parameterType="com.learning.cloud.duty.entity.DutyRecord">
    insert into duty_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="campusId != null">
        campus_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="pointType != null">
        point_type,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="day != null">
        day,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="campusId != null">
        #{campusId,jdbcType=BIGINT},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="pointType != null">
        #{pointType,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=SMALLINT},
      </if>
      <if test="day != null">
        #{day,jdbcType=DATE},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>

  <update id="updateDutyRecord" parameterType="com.learning.cloud.duty.entity.DutyRecord">
    update duty_check_type
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dutyTypeId != null">
        duty_type_id = #{record.dutyTypeId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="plusMinus != null">
        plus_minus = #{plusMinus,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
