<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.ding.picture.dao.PictureDao">

  <insert id="addPic" useGeneratedKeys="true" keyProperty="id" parameterType="com.learning.cloud.ding.picture.entity.Picture">
    insert into pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pic != null">
      pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getPic" parameterType="java.lang.Long" resultType="com.learning.cloud.ding.picture.entity.Picture">
    select * from pic where id = #{picId,jdbcType=BIGINT}
  </select>

</mapper>
