<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.school.dao.SchoolDao">
  <resultMap id="BaseResultMap" type="com.learning.cloud.school.entity.School">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="bureau_id" jdbcType="INTEGER" property="bureauId" />
    <result column="state" jdbcType="SMALLINT" property="state" />
  </resultMap>

  <select id="getSchools" resultType="com.learning.cloud.school.entity.School">
    select *
    from edu_school
  </select>

  <!--可查询指定id,或指定名字，或指定状态下的学校-->
  <select id="getBySchool" parameterType="com.learning.cloud.school.entity.School" resultType="com.learning.cloud.school.entity.School">
    select *
    from edu_school
    <where>
      <if test="id != null">
      id = #{id}
      </if>
      <if test="schoolName != null">
      and school_name = #{schoolName}
      </if>
      <if test="bureauId != null">
      and bureau_id = #{bureauId}
      </if>
      <if test="state ！= null">
      and state = #{state}
      </if>
    </where>
  </select>

  <select id="getCorpIdBySchoolName" parameterType="java.lang.String" resultType="java.lang.String">
    select corp_id
    from edu_school s
    left join auth_app_info a
    on s.school_name = a.corp_name
    where s.school_name = #{schoolName}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.learning.cloud.school.entity.School">
    insert into edu_school
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schoolName != null">
        school_name,
      </if>
      <if test="bureauId != null">
        bureau_id,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="bureauId != null">
        #{bureauId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.learning.cloud.school.entity.School">
    udpate edu_school
    <set>
      <if test="schoolName != null">
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="bureauId != null">
        bureau_id = #{bureauId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id}
  </update>

</mapper>
