<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.bureau.dao.BureauDao">
  <resultMap id="BaseResultMap" type="com.learning.cloud.bureau.entity.Bureau">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="bureau_name" jdbcType="VARCHAR" property="bureauName" />
    <result column="provice_name" jdbcType="VARCHAR" property="proviceName" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="state" jdbcType="SMALLINT" property="state" />
  </resultMap>

  <select id="getByCorpId" parameterType="java.lang.String" resultType="com.learning.cloud.bureau.entity.Bureau">
    select *
    from bureau
    where corp_id = #{corpId}
  </select>

  <select id="getBureaus" resultType="com.learning.cloud.bureau.entity.Bureau">
    select *
    from bureau
  </select>

  <select id="getByBureauName" parameterType="java.lang.String" resultType="com.learning.cloud.bureau.entity.Bureau">
    select *
    from bureau
    where bureau_name = #{bureauName}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.learning.cloud.bureau.entity.Bureau">
    insert into bureau
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bureauName != null">
        bureau_name,
      </if>
      <if test="corpId != null">
        corp_id,
      </if>
      <if test="proviceName != null">
        provice_name,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bureauName != null">
        #{bureauName,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="proviceName != null">
        #{proviceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
</mapper>
