<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.dept.gradeClass.dao.GradeClassDao">
  <resultMap id="BaseResultMap" type="com.learning.cloud.dept.gradeClass.entity.GradeClass">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="session_name" jdbcType="VARCHAR" property="sessionName" />
    <result column="campus_id" jdbcType="INTEGER" property="campusId" />
    <result column="head_teacher_id" jdbcType="INTEGER" property="headTeacherId" />
    <result column="teacher_ids" jdbcType="VARCHAR" property="teacherIds" />
  </resultMap>

  <select id="getByGradeClass" parameterType="com.learning.cloud.dept.gradeClass.entity.GradeClass"
          resultType="com.learning.cloud.dept.gradeClass.entity.GradeClass">
    select *
    from grade_class_1
    where class_name = #{className}
    and grade_name = #{gradeName}
    and session_name = #{sessionName}
    and campus_id = #{campusId}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.learning.cloud.dept.gradeClass.entity.GradeClass">
    insert into grade_class_1
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="gradeName != null">
        grade_name,
      </if>
      <if test="sessionName != null">
        session_name,
      </if>
      <if test="campusId != null">
        campus_id,
      </if>
      <if test="headTeacherId != null">
        head_teacher_id,
      </if>
      <if test="teacherIds != null">
        teacher_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="gradeName != null">
        #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="sessionName != null">
        #{sessionName,jdbcType=VARCHAR},
      </if>
      <if test="campusId != null">
        #{campusId,jdbcType=INTEGER},
      </if>
      <if test="headTeacherId != null">
        #{headTeacherId,jdbcType=INTEGER},
      </if>
      <if test="teacherIds != null">
        #{teacherIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>
