<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.dept.gradeClass.dao.GradeClassDao">
  <resultMap id="BaseResultMap" type="com.learning.cloud.dept.gradeClass.entity.GradeClass">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="session_name" jdbcType="VARCHAR" property="sessionName" />
    <result column="campus_id" jdbcType="INTEGER" property="campusId" />
    <result column="head_teacher_id" jdbcType="INTEGER" property="headTeacherId" />
    <result column="teacher_ids" jdbcType="VARCHAR" property="teacherIds" />
  </resultMap>

  <select id="getById" parameterType="java.lang.Integer"
          resultType="com.learning.cloud.dept.gradeClass.entity.GradeClass">
    select *
    from edu_grade_class
    where id = #{id}
  </select>

  <select id="getByGradeClass" parameterType="com.learning.cloud.dept.gradeClass.entity.GradeClass"
          resultType="com.learning.cloud.dept.gradeClass.entity.GradeClass">
    select *
    from edu_grade_class
    <where>
      <if test="className != null">
        and class_name = #{className,jdbcType=VARCHAR}
      </if>
      <if test="gradeName != null">
        and grade_name = #{gradeName,jdbcType=VARCHAR}
      </if>
      <if test="sessionName != null">
        and session_name = #{sessionName,jdbcType=VARCHAR}
      </if>
      <if test="campusId != null">
        and campus_id = #{campusId,jdbcType=INTEGER}
      </if>
      <if test="schoolId != null">
        and school_id = #{schoolId,jdbcType=INTEGER}
      </if>
      <if test="bureauId != null">
        and bureau_id = #{bureauId,jdbcType=INTEGER}
      </if>
      <if test="deptId != null">
        and dept_id = #{deptId,jdbcType=BIGINT}
      </if>
      <if test="headTeacherId != null">
        and head_teacher_id = #{headTeacherId}
      </if>
      <if test="teacherIds != null">
        and teacher_ids = #{teacherIds}
      </if>
    </where>
  </select>

  <select id="getClassesByCampusId" parameterType="com.learning.cloud.dept.campus.entity.Campus" resultType="com.learning.cloud.dept.gradeClass.entity.GradeClass">
    select *
    from edu_grade_class
    where campus_id = #{id}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.learning.cloud.dept.gradeClass.entity.GradeClass">
    insert into edu_grade_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="className != null">
        class_name,
      </if>
      <if test="gradeName != null">
        grade_name,
      </if>
      <if test="sessionName != null">
        session_name,
      </if>
      <if test="campusId != null">
        campus_id,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="bureauId != null">
      bureau_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="headTeacherId != null">
        head_teacher_id,
      </if>
      <if test="teacherIds != null">
        teacher_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="gradeName != null">
        #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="sessionName != null">
        #{sessionName,jdbcType=VARCHAR},
      </if>
      <if test="campusId != null">
        #{campusId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="bureauId != null">
        #{bureauId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=BIGINT},
      </if>
      <if test="headTeacherId != null">
        #{headTeacherId,jdbcType=INTEGER},
      </if>
      <if test="teacherIds != null">
        #{teacherIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getAllClass" resultType="com.learning.cloud.dept.gradeClass.entity.GradeClass">
    select * from edu_grade_class
  </select>

  <update id="update" parameterType="com.learning.cloud.dept.gradeClass.entity.GradeClass">
    update edu_grade_class
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="gradeName != null">
        grade_name = #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="sessionName != null">
        session_name = #{sessionName,jdbcType=VARCHAR},
      </if>
      <if test="campusId != null">
        campus_id = #{campusId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null">
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="bureauId != null">
        bureau_id = #{bureauId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=BIGINT},
      </if>
      <if test="headTeacherId != null">
        head_teacher_id = #{headTeacherId,jdbcType=INTEGER},
      </if>
      <if test="teacherIds != null">
        teacher_ids = #{teacherIds,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
