<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.course.dao.CourseSectionDao">
  <insert id="addSection" useGeneratedKeys="true" keyProperty="id" parameterType="com.learning.cloud.course.entity.CourseSection">
    insert into course_section
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="timeFrame != null">
        time_frame,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="start != null">
        start,
      </if>
      <if test="end != null">
        end,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="timeFrame != null">
        #{timeFrame,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="start != null">
        #{start,jdbcType=VARCHAR},
      </if>
      <if test="end != null">
        #{end,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>

  <update id="editSection" parameterType="com.learning.cloud.course.entity.CourseSection">
    update course_section
    <set>
      <if test="timeFrame != null">
        time_frame = #{timeFrame,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="start != null">
        start = #{start,jdbcType=VARCHAR},
      </if>
      <if test="end != null">
        end = #{end,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=LONGVARCHAR}
  </update>

  <select id="getSchoolSection" parameterType="java.lang.Long" resultType="com.learning.cloud.course.entity.CourseSection">
    select * from course_section
    where school_id = #{schoolId}
    order by start
  </select>

  <insert id="saveSectionArray">
    insert  into course_section_array
      (school_id, content) values (#{schoolId},#{sectionArray})
      on DUPLICATE KEY UPDATE content = #{sectionArray}
  </insert>
</mapper>