<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.cloud.course.dao.CourseExchangeDao">
  <resultMap id="DayExchangeResultMap" type="com.learning.cloud.course.entity.CourseExchange">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="class_id" jdbcType="BIGINT" property="classId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="from_id" jdbcType="BIGINT" property="fromId" />
    <result column="to_id" jdbcType="BIGINT" property="toId" />
    <result column="from_num" jdbcType="SMALLINT" property="fromNum" />
    <result column="to_num" jdbcType="SMALLINT" property="toNum" />
    <result column="from_day" jdbcType="DATE" property="fromDay" />
    <result column="to_day" jdbcType="DATE" property="toDay" />
    <result column="change_info" jdbcType="VARCHAR" property="changeInfo" />
    <result column="create_teacher_id" jdbcType="BIGINT" property="createTeacherId" />
    <result column="accept_teacher_id" jdbcType="BIGINT" property="acceptTeacherId" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <association property="courseDetail" javaType="com.learning.cloud.course.entity.CourseDetail">
      <result column="to_id" jdbcType="BIGINT" property="id" />
      <result column="class_id" jdbcType="BIGINT" property="classId" />
      <result column="course_id" jdbcType="BIGINT" property="courseId" />
      <result column="week_day" jdbcType="INTEGER" property="weekDay" />
      <result column="course_num" jdbcType="INTEGER" property="courseNum" />
      <result column="course_time" jdbcType="VARCHAR" property="courseTime" />
      <result column="course_type" jdbcType="BIGINT" property="courseType" />
      <result column="course_name" jdbcType="VARCHAR" property="courseName" />
      <result column="course_teacher_id" jdbcType="BIGINT" property="courseTeacherId" />
      <result column="course_teacher_name" jdbcType="VARCHAR" property="courseTeacherName" />
      <result column="week_type" jdbcType="SMALLINT" property="weekType" />
      <result column="course_type_s" jdbcType="BIGINT" property="courseTypeS" />
      <result column="course_name_s" jdbcType="VARCHAR" property="courseNameS" />
      <result column="course_teacher_id_s" jdbcType="BIGINT" property="courseTeacherIdS" />
      <result column="course_teacher_name_s" jdbcType="VARCHAR" property="courseTeacherNameS" />
    </association>
  </resultMap>

  <insert id="addCourseExchange" useGeneratedKeys="true" keyProperty="id" parameterType="com.learning.cloud.course.entity.CourseExchange">
    insert into course_exchange
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="fromId != null">
        from_id,
      </if>
      <if test="toId != null">
        to_id,
      </if>
      <if test="fromNum != null">
        from_num,
      </if>
      <if test="toNum != null">
        to_num,
      </if>
      <if test="fromDay != null">
        from_day,
      </if>
      <if test="toDay != null">
        to_day,
      </if>
      <if test="changeInfo != null">
        change_info,
      </if>
      <if test="createTeacherId != null">
        create_teacher_id,
      </if>
      <if test="acceptTeacherId != null">
        accept_teacher_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fromId != null">
        #{fromId,jdbcType=BIGINT},
      </if>
      <if test="toId != null">
        #{toId,jdbcType=BIGINT},
      </if>
      <if test="fromNum != null">
        #{fromNum,jdbcType=SMALLINT},
      </if>
      <if test="toNum != null">
        #{toNum,jdbcType=SMALLINT},
      </if>
      <if test="fromDay != null">
        #{fromDay,jdbcType=DATE},
      </if>
      <if test="toDay != null">
        #{toDay,jdbcType=DATE},
      </if>
      <if test="changeInfo != null">
        #{changeInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTeacherId != null">
        #{createTeacherId,jdbcType=BIGINT},
      </if>
      <if test="acceptTeacherId != null">
        #{acceptTeacherId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>

  <select id="getCourseExchange" parameterType="java.lang.String" resultMap="DayExchangeResultMap">
    select * from course_exchange a
    left join course_detail b
    on a.to_id = b.id
    where a.from_day = #{day}
    <if test="classId!=null">
        and a.class_id = #{classId}
    </if>
    and a.status = 2
  </select>

  <select id="getMyExchange" resultType="com.learning.cloud.course.entity.CourseExchange">
    select * from course_exchange
    where ( create_teacher_id = #{teacherId} or accept_teacher_id = #{teacherId})
    and to_day>#{day}
  </select>

  <update id="confirmExchange">
    update course_exchange set status = #{status}
    where id = #{id}
  </update>
</mapper>
